.accordion-section {
    display: flex;
    flex-direction: column;
}

.description-accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 3px 28px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
}

.description-accordion-title {
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(229, 32, 46);
}

.description-accordion-icon {
    margin-left: 4px;
    transition: transform 0.6s ease;
    height:10px;
}

.rotate {
    transform: rotate(90deg);
}

.description-accordion-content {
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.description-accordion-text {
    font-weight: 400;
    font-size: 14px;
    padding: 0px 24px;
}

