.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
    color: rgb(20,30,35);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.popup-inner {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 32px;
    width: 100%;
    /* max-width: 650px; */
    min-height: 200px;
    background-color: #fff;
    border-top: 1px #ccc solid;

    font-size: 14px;
    text-align: justify;
    align-items: center;
}

.popup-inner .button-container {
    max-width: 300px;
    justify-content: center;
}

.popup-inner .text-container {
    margin: 0px 30px 0px;
}

.popup-inner .popup-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.button-container .popup-btn {
    margin: 0px 0px 10px;
    padding: 0px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: rgba( 0, 0, 0, 0.1) 0px 1px 1px 1px;
    min-width: 190px;
    min-height: 40px;
}

.popup-title {
    margin-bottom: 10px;
}

/* .popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
} */