.accordion-section {
    display: flex;
    flex-direction: column;
}

.accordion {
    background-color: white;
    /* line-height: 24px; */
    /* outline: none; */
    border: none;
    /* border-top: solid rgba(0, 0, 0, 0.1); */
    border-top-width: 1px;
    color: #444;
    cursor: pointer;
    /* padding: 18px; */
    /* display: flex; */
    /* align-items: center; */
    /* border: none; */
    /* outline: none; */
    margin-left: auto;
    /* justify-content: flex-end; */
    transition: background-color 0.6s ease;
}

.accordion-card {
    background-color: white;
    /* line-height: 24px; */
    /* outline: none; */
    border: none;
    border-top: solid rgba(0, 0, 0, 0.1);
    border-top-width: 1px;
    color: #444;
    /* cursor: pointer; */
    padding: 18px;
    display: flex;
    flex-direction: row;
    flex:1;
    align-items: center;
    /* border: none; */
    /* outline: none; */
    /* transition: background-color 0.6s ease; */
}

.accordion-switch {
    color: blueviolet;
}

.accordion-title {
    text-align: justify;
    width: 80%;
    font-weight: 600;
    font-size: 14px;
}

.accordion-icon {
    margin-left: auto;
    transition: transform 0.6s ease;
}

.rotate {
    transform: rotate(90deg);
}

.accordion-content {
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.accordion-text {
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
}

.accordion-title-icon {
    margin-right: 10px;
    font-size: 26px;

}
