.settings-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba( 0, 0, 0, 0.2);
    color: rgb(20,30,35);

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.settings-window-inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* padding: 5px; */
    width: 80%;
    /* max-width: 800px; */
    /* min-width: 800px; */
    width: 800px;
    min-height: 400px;
    /* max-height: 80%; */
    max-height: 550px;
    background-color: #fff;

    font-size: 14px;
    text-align: justify;
    align-items: center;
}

.settings-window-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

.settings-window-diagram-title {
    display: flex;
    flex-direction: row;
}

.settings-window-diagram-title .tikslai {
    margin-left: auto;
}

.settings-window-diagram-title .arrow-icon {
 width: 16px;
 height: 16px;
}