.title {
    text-align: center;
}

.header-container {
    padding: 20px 20px 0px 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px 10px 0px;
    border-bottom: 10px black;
}